/*
____ ____ ___ ____ ____ ____ ____ _   _    ____ ____ _    ____ ____ ____
|    |__|  |  |___ | __ |  | |__/  \_/     |    |  | |    |  | |__/ [__
|___ |  |  |  |___ |__] |__| |  \   |      |___ |__| |___ |__| |  \ ___]
*/
/* voice & tone */
    #voice-tone label span:hover,
    #voice-tone .current-post,
    #voice-tone .ez-toc-list li a:hover,
    #voice-tone .ez-toc-list li .active {
      color: #FF206E;
    }
    #voice-tone .ez-toc-list .active {
      border-color: #FF206E;
    }
    #voice-tone::after {
      background-color: #FF206E;
    }
  /* voice & tone-chinese */
      #voice-tone-chinese label span:hover,
      #voice-tone-chinese .current-post,
      #voice-tone-chinese .ez-toc-list li a:hover,
      #voice-tone-chinese .ez-toc-list li .active {
        color: #FFBF00;
      }
      #voice-tone-chinese .ez-toc-list .active {
        border-color: #FFBF00;
      }
      #voice-tone-chinese::after {
        background-color: #FFBF00;
      }
/* logo guidelines */
    #logo-guidelines label span:hover,
    #logo-guidelines .current-post,
    #logo-guidelines .ez-toc-list li a:hover,
    #logo-guidelines .ez-toc-list li .active {
      color: #6E44FF;
    }
    #logo-guidelines .ez-toc-list .active {
      border-color: #6E44FF;
    }
    #logo-guidelines::after {
      background-color: #6E44FF;
    }
/* signature-guidelines */
    #signature-guidelines label span:hover,
    #signature-guidelines .current-post,
    #signature-guidelines .ez-toc-list li a:hover,
    #signature-guidelines .ez-toc-list li .active {
      color: #F75C03;
    }
    #signature-guidelines .ez-toc-list .active {
      border-color: #F75C03;
    }
    #signature-guidelines::after {
      background-color: #F75C03;
    }
/* photography-guidelines */
    #photography-guidelines label span:hover,
    #photography-guidelines .current-post,
    #photography-guidelines .ez-toc-list li a:hover,
    #photography-guidelines .ez-toc-list li .active {
      color: #1BE7FF;
    }
    #photography-guidelines .ez-toc-list .active {
      border-color: #1BE7FF;
    }
    #photography-guidelines::after {
      background-color: #1BE7FF;
    }
