/*
____ ____ ___ ____ ____ ____ ____ _   _    ____ ____ _    ____ ____ ____
|    |__|  |  |___ | __ |  | |__/  \_/     |    |  | |    |  | |__/ [__
|___ |  |  |  |___ |__] |__| |  \   |      |___ |__| |___ |__| |  \ ___]
*/
/* voice & tone */
    #voice-tone label span:hover,
    #voice-tone .current-post,
    #voice-tone .ez-toc-list li a:hover,
    #voice-tone .ez-toc-list li .active {
      color: #FF206E;
    }
    #voice-tone .ez-toc-list .active {
      border-color: #FF206E;
    }
    #voice-tone::after {
      background-color: #FF206E;
    }
/* logo guidelines */
    #logo-guidelines label span:hover,
    #logo-guidelines .current-post,
    #logo-guidelines .ez-toc-list li a:hover,
    #logo-guidelines .ez-toc-list li .active {
      color: #6E44FF;
    }
    #logo-guidelines .ez-toc-list .active {
      border-color: #6E44FF;
    }
    #logo-guidelines::after {
      background-color: #6E44FF;
    }




    /* background-color: #06D6A0;
    background-color: #FFA345; */
