@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500");
@import url("https://use.typekit.net/kkq8nal.css");

#page {
  position: relative;
  word-wrap: break-word;
}

body, button, input, select, textarea {
  color: #333;
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}

.screen-reader-text {
  display: none;
}

.post-navigation {
  font-weight: 800;
  z-index: 100;
  position: fixed;
}

.post-navigation .nav-links {
  padding: 5em 0;
}

.comments-pagination, .post-navigation {
  clear: both;
}

/* .nav-title h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
} */

.nav-title {
  color: #000;
  font-size: 1.2vw;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}

.nav-subtitle {
  background: transparent;
  color: #000;
  display: block;
  font-size: .6vw;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Termina", sans-serif;
  font-weight: 400;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1%;
  position: relative;
  top: -0.0625em;
  vertical-align: middle;
  width: 15%;
  font-size: 1vw;
  opacity: .2;
}

.nav-next a, .nav-previous a {
  display: block;
  padding: 10% 0 0 0;
}

.post-navigation .nav-next {
  margin-top: 1.5em;
  float: left;
  text-align: left;
  width: 12%;
  bottom: 3%;
  /* right: 64%; */
  left: 23%;
  position: fixed;
  transition: all 250ms ease-out;
}

.nav-next:hover {
  /* right: 65%; */
  left: 22%;
  transition: all 250ms ease-out;
}

.nav-links .nav-next .nav-subtitle .nav-title-icon-wrapper {
  margin-right: 0.5em;
}

.nav-next .nav-title {
  opacity: 0;
  padding: 5% 0;
  transition: all 100ms ease-out;
}

.nav-next:hover .nav-title {
  opacity: 1;
  transition: all 250ms ease-out;
}

.post-navigation .nav-previous {
  float: right;
  text-align: right;
  /* background-color: white; */
  width: 12%;
  bottom: 3%;
  /* right: 10%; */
  right: 5%;
  position: fixed;
  transition: all 250ms ease-out;
}

.nav-previous:hover {
  /* right: 9%; */
  right: 4%;
  transition: all 250ms ease-out;
}

.nav-links .nav-previous .nav-subtitle .nav-title-icon-wrapper {
  margin-left: 1em;
}

.nav-previous .nav-title {
  opacity: 0;
  padding: 5% 0;
  transition: all 100ms ease-out;
}

.nav-previous:hover .nav-title {
  opacity: 1;
  transition: all 250ms ease-out;
}

/*
                                     _
                                    (_)
 _ __ ___  ___ _ __   ___  _ __  ___ ___   _____
| '__/ _ \/ __| '_ \ / _ \| '_ \/ __| \ \ / / _ \
| | |  __/\__ \ |_) | (_) | | | \__ \ |\ V /  __/
|_|  \___||___/ .__/ \___/|_| |_|___/_| \_/ \___|
              | |
              |_|
*/

@media (max-width: 1400px) {
  .nav-subtitle {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .post-navigation {
    background: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .1);
    height: 50px;
    width: 100vw;
    bottom: 0;
    left: 0;
  }
  .post-navigation .nav-previous {
    width: 30%;
    bottom: 0%;
    position: absolute;
    right: 5%;
  }
  .post-navigation .nav-next {
    width: 30%;
    bottom: 0%;
    position: absolute;
    left: 5%;
  }
  .nav-subtitle {
    font-size: .6rem;
    margin-bottom: 2em;
  }
  .nav-title {
    display: none;
  }
  .nav-previous:hover .nav-title {
    opacity: 0;
    transition: all 250ms ease-out;
  }
}

.site-content {
  padding: 5.5em 0 0;
}

/* Hover effects */

.entry-content a, .entry-summary a, .comment-content a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong {
  -webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-title a, .entry-meta a, .page-links a, .page-links a .page-number, .entry-footer a, .entry-footer .cat-links a, .entry-footer .tags-links a, .edit-link a, .post-navigation a, .logged-in-as a, .comment-navigation a, .comment-metadata a, .comment-metadata a.comment-edit-link, .comment-reply-link, a .nav-title, .pagination a, .comments-pagination a, .site-info a, .widget .widget-title a, .widget ul li a, .site-footer .widget-area ul li a, .site-footer .widget-area ul li a {
  /* -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1); */
  text-decoration: none;
  -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-content a:focus, .entry-content a:hover, .entry-summary a:focus, .entry-summary a:hover, .comment-content a:focus, .comment-content a:hover, .widget a:focus, .widget a:hover, .site-footer .widget-area a:focus, .site-footer .widget-area a:hover,
/* .posts-navigation a:focus,
.posts-navigation a:hover, */

.comment-metadata a:focus, .comment-metadata a:hover, .comment-metadata a.comment-edit-link:focus, .comment-metadata a.comment-edit-link:hover, .comment-reply-link:focus, .comment-reply-link:hover, .widget_authors a:focus strong, .widget_authors a:hover strong, .entry-title a:focus, .entry-title a:hover, .entry-meta a:focus, .entry-meta a:hover, .page-links a:focus .page-number, .page-links a:hover .page-number, .entry-footer a:focus, .entry-footer a:hover, .entry-footer .cat-links a:focus, .entry-footer .cat-links a:hover, .entry-footer .tags-links a:focus, .entry-footer .tags-links a:hover,
/* .post-navigation a:focus,
.post-navigation a:hover, */

.pagination a:not(.prev):not(.next):focus, .pagination a:not(.prev):not(.next):hover, .comments-pagination a:not(.prev):not(.next):focus, .comments-pagination a:not(.prev):not(.next):hover, .logged-in-as a:focus, .logged-in-as a:hover,
/* a:focus .nav-title,
a:hover .nav-title, */

.edit-link a:focus, .edit-link a:hover, .site-info a:focus, .site-info a:hover, .widget .widget-title a:focus, .widget .widget-title a:hover, .widget ul li a:focus, .widget ul li a:hover {
  color: #000;
  /* -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 1); */
}

div.mod {
  margin: 0 0 20px 0;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

div.mod h3.label {
  float: left;
  margin: 0 0 10px -20px;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "Cormorant Garamond", serif;
}

div.mod h3.label a {
  color: #fff;
}

div.mod h4 {
  float: left;
  width: 50%;
  padding: 2px 15px;
  font-size: 18px;
  font-weight: normal;
}

div.mod h4 span.sep {
  color: #bbb;
}

div.mod a.clip {
  float: left;
  margin: 2px 0 0 10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

div#pattern.mod div#pattern-wrap {
  clear: left;
  padding: 20px 60px;
}

div#markup.mod {
  float: left;
  width: 49%;
  background: rgba(255, 255, 255, 0.6);
}

div#style.mod {
  float: right;
  width: 49%;
  background: rgba(255, 255, 255, 0.6);
}

div.mod textarea.mod-ta {
  width: 100%;
  border: none;
  height: 500px;
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  line-height: 1.4;
  white-space: pre;
  color: #3e4549;
  background: none;
  outline: none;
  -webkit-tab-size: 2;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

/* pattern notes */

#pattern-notes h3.label {
  background: #bac1c5;
}

#pattern-notes p {
  clear: left;
  line-height: 1.4;
  color: #8b959a;
}

#pattern-notes code {
  font-family: "Cormorant Garamond", serif;
  font-size: 13px;
}

#pattern-notes pre {
  display: block;
  margin: 12px 0 0 0;
  padding: 15px 0 0 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  line-height: 1.4;
  white-space: pre;
  color: #3e4549;
  border-top: 1px solid #ddd;
}

/* .center {
  margin: 0 auto;
} */
